<%- include('partials/header.ejs'); %>

<%- include('partials/navbar.ejs'); %>

<input type="hidden" id="selectedProductId" value="<%= productId %>">

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="container mt-5 mb-5">
        <div class="row d-flex justify-content-center">
          <div class="col-md-10">
            <div class="card">
              <div class="row">
                <div class="col-md-6">
                  <div class="images p-3">
                    <div class="text-center p-4">
                      <img id="main-image" src="/images/product-sample.webp" width="250" />
                    </div>
                    <div class="thumbnail text-center">
                      <img onclick="change_image(this)" src="/images/product-sample.webp" width="70">
                      <img onclick="change_image(this)" src="/images/product-sample.webp" width="70">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="p-4">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="d-flex align-items-center">
                        <a href="/index" class="btn">
                          <i class="fa fa-long-arrow-left"></i> <span class="ml-1">Back</span>
                        </a>
                      </div>
                      <i class="fa fa-shopping-cart text-muted"></i>
                    </div>
                    <div class="mt-4 mb-3">
                      <span class="text-uppercase text-muted brand" id="brand_name"></span>
                      <h5 class="text-uppercase" id="product_title"></h5>
                      <div class="price d-flex flex-row align-items-center">
                        <span class="act-price">
                          <h4>LKR <span id="product_price">0.00</span></h4>
                        </span>

                      </div>
                    </div>
                    <p class="about d-none">Shop from a wide range of t-shirt from orianz. Pefect for your everyday use, you could pair it with a stylish pair of jeans or trousers complete the look.</p>
                    <div class="sizes mt-5 d-none">
                      <h6 class="text-uppercase">Size</h6> <label class="radio"> <input type="radio" name="size" value="S" checked> <span>S</span> </label> <label class="radio"> <input type="radio" name="size" value="M"> <span>M</span> </label> <label class="radio"> <input type="radio" name="size" value="L"> <span>L</span> </label> <label class="radio"> <input type="radio" name="size" value="XL"> <span>XL</span> </label> <label class="radio"> <input type="radio" name="size" value="XXL"> <span>XXL</span> </label>
                    </div>

                    <div class="cart mt-4 align-items-center">
                      <section id="buyBlock">
                        <span id="priceATC" class="quantity-up-down">
                          <label>Qty</label>
                          <span class="icon-minus-squared off">&ndash;</span>
                          <input name="Quantity" type="number" value="0" id="Quantity" class="qty-field" min="1" max="12">
                          <span class="icon-plus-squared">+</span>
                        </span>
                      </section>
                    </div><br>
                    <div class="cart mt-4 align-items-center">
                      <a class="btn btn-warning text-uppercase mr-2 px-4" data-prod_id="<%= productId %>" href="/products/buynow/step1">Buy Now</a>
                      <button class="btn btn-info text-uppercase mr-2 px-4" data-prod_id="<%= productId %>">Add to cart</button>
                      <i class="fa fa-heart text-muted"></i>
                      <i class="fa fa-share-alt text-muted"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card mb-5 mt-2 p-4">
              <h4>Description</h4>
              <div id="description_content"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer.ejs'); %>